#blog div h1{
    color: blue;
    text-decoration: underline pink 2px;
  }

  p{ 
    text-transform: uppercase;
    font-family: "Courier New", monospace;
    font-size: 14px;
    display: inline;
    
}

div.parents {

}


div.child {
  width: 50%;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  float:right;
}