/* 
body{
    color: #e0e0e2;
  }
  
  h1,h2{
      color: #721817;
      text-align: center;
  }

  .conter-text{
    text-align: center;

  }
  
  #logo {
      margin-left: auto;
      margin-right: auto;
      display: block;
  
  }
  h2,span{
      color: #FA9F42;
      font-size: 1.75em;
  }
  #copyright{
      padding: 12px;
      font-size: 1.75em;
  } */