*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-weight: sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.8;
    color: #ee9972;;
}

.header{
  height:  100vh;
  background-image:linear-gradient(to right bottom, rgba(255, 99,71, 0.9 ), rgba(255, 75, 75, 0.1)),url('../Images/Logo/header.jpeg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header-primary{
    color: #fff;
    text-transform: capitalize;
    backface-visibility: hidden;
   
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.heading-primary-main{
    display: block;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function:ease-out;
}


.heading-secondary-sub{
    display: block;
    font-size: 25px;
    font-weight: 800;
    letter-spacing: 17px;
    animation-name:moveInRight;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    

}

@keyframes moveInLeft{
    0%{
        opacity:0;
        transform: translateX(-100px);

    }

   80%{
    transform: translateX(15px);

    }

    100%{
    opacity: 1;
    transform: translate(0);

    }
}

@keyframes moveInRight {

      0%{
        opacity: 1;
        transform: translateX(100px);
      }

      80%{
        transform: translateX(-10px);
      }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}


