
div.sub-add {
    display: inline-flex;
    margin-left: 20px;
    
div.space{
    margin: 15px 15px;
    font-weight: 600;
}

button.add{
    font-size: 25px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
} 

 button.sub{
       font-size: 20px;
       border-radius: 5px;
       color: rgb(255, 255, 255);
    }

 button.add:hover,
 .sub:hover{
    color: rgb(0,0,0);
    transform: translate(-1px);
         }
}