

 .container.form {
    display: flex;
    max-width: 100%;
    min-height: calc(100vh);
    background :#ee9972;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: absolute; */
}


.form-container{
  max-width: 40%;
  max-height:50vh; 
  background: white;
  align-items: center;
  padding: 0 50px;
  margin-top: 20px;
  border-radius: 10px;
  position: absolute;

} 


.input-fill {
  width: 100%;
  border: 1px solid#d0d0d0;
  border-radius: 8px;
  margin-bottom: 15px;
  margin-top: 15px;
  border-color: #d0d0d0;
  color: white;
} 

.push{
    margin: 10px 10px 10px 10px; 
}


.form-control.me-2.fill{
    width: 100%;
}

/* .nav-item.sapce{
    text-align: center;
    display: block
} */

.icon{
    padding: 0.8rem;
}

.d-flex .push.container{
display: inline-flex;
flex: 1 1 300px;
border-radius: 10px;
border: 1px #000;
overflow: hidden;

}

/* .form-control .me-2 .fill.searchbox{
  border: 0;
  padding: 0.8rem;
} */

#search{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button.searchbutton{
    border-radius: 10px;
    border: solid 1.9px rgba(255, 99, 71, 0.7);
    background: #fff;
    display: inline-flex;
    color: rgb(0,0,0);
    /* box-shadow: px 2px 2px rgb(255, 255, 240); */

}  button.searchbutton:active{
  transform: translateY(-1px);

}

button.searchbutton:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(255, 255 ,255);
}

