
* {
  font-family: sans-serif;
  margin: 0px;
  padding: 0;
}
nav {
  background: tomato;
  text-align: left;
  display: flex;
 justify-content: stretch;
 position: relative;
}
nav a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  text-align: center;
}

header{
  display: grid;

}

.nav-item{
  font-family: 'Courier New', Courier, monospace;
}

button {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.card-btn-btn{
  margin-left: 100px;
  background-color:#ee9972;
  border-radius: 70px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
}

.card{
  margin-left: 100px;
  text-align: center;
  border-radius: 70px ;
  padding-right: 10px;
}

.card-btn{
  padding: 50px;
  border-radius: 30px;
 
}
.btn{
  background-color: aquamarine;
  border-radius: 4px solid;
  font-size: 20px;
  text-transform: capitalize;
}
.btn:nth-last-child(3){
  background-color: bisque;
}

.btn:nth-last-child(4){
  background-color: cornflowerblue;
}
.btn:nth-last-child(5){
  background-color: hotpink;
}

input {

  margin-bottom: 20px;
}

button {
  border: 1px solid gray;
  background: whitesmoke;
  margin-right: 5px;
}

button:nth-last-child(2){
  background-color:crimson;
}

button:nth-last-child(1) {
  background: tomato;
  color: white;
}
