.navbar {
    background-color: #fefefe;
    min-height: 96px;
    
  }
  
  .navbar > .container-fluid {
    padding: 0 80px;
  }
  
  .mobile-path {
    display: none;
  }
  
  .btn.auth-btn {
    color: rgb(255, 255, 255);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 20px;
  }
  
  .small-btn {
    width: 130px;
    height: 46px;
  }
  
  .btn.login-btn {
    background-color: rgb(255, 99, 71);
    margin-right: 24px;
  }
  
  .btn.login-btn:hover {
    border: 1px solid rgb(255, 99, 71);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 99, 71);
  }
  
  .btn.register-btn {
    background-color: rgb(255, 99, 71);;
  }
  
  .btn.register-btn:hover {
    border: 1px solid rgb(255, 99, 71);
    background-color: rgb(255, 255, 255);
    color: rgb(255, 99, 71);
  }
  
  .nav-item {
    position: relative;
    margin-left: 24px;
    background-color: rgb(255, 99, 71);

  }
  
  .nav-item > .nav-link.nav-link-color {
    color: rgb(255 ,255, 255);
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    transition: all 0.4s;
  }
  
.btn{
  color: rgb(255, 99, 71);

}
  .form-control.me-2.inputfill{
  box-shadow: none;
  box-sizing:border-box;
}
.btn.butting:active{
  border: 1px solid rgb(255, 99, 71);
 

}

.btn.butting:hover{
  border: 1px solid rgb(255, 99, 71);
  background-color: rgb(255, 255, 255);
  color: rgb(255, 99, 71);

}




  // .nav-link.nav-link-color.active {
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: 0;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     width: 80%;
  //     height: 4px;
  //     background-color: rgb(255, 255, 255);
  //     text-align: center;
  //   }
  // }

  
  @media screen and (max-width: 1199px) {
    .navbar > .container-fluid {
      padding: 0 10px;
    }
  
    .nav-link.nav-link-color.active::after {
      left: 5%;
      width: 100px;

    }
  

  @media (min-width: 992px) {
    .navbar-expand-lg {
      flex-wrap: wrap !important;
      justify-content: flex-start;
    }
  
    .nav-item {
      margin-left: 16px;
      
    }
  
    .nav-link.nav-link-color.active::after {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      
    }
  }
  
  @media screen and (max-width: 600px) {
    .navbar {
      height: 88px;
    }
  
    .navbar-toggler {
      display: none !important;
    }
  
    .navbar > .container-fluid {
      padding: 0 10px;
    }
  
    .main-logo {
      width: 500px;
      height: 40px;
    }
  
    .nav-bar-destop {
      display: none;
    }
  
    .mobile-path {
      display: flex;
      align-self: center;
  
      & > .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-right: 1px solid #89898966;
      }
  
      .auth-user-icon {
        width: 20px;
        height: 20px;
      }
  
      & > .mobile-login-btn {
        color: rgb(255, 99, 71);
        border-right: 1px solid #89898966;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        text-decoration: none;
  
        & h3 {
          font-size: 12px;
          margin-top: 5px;
          margin-bottom: 0;
        }
  
        .signout {
          color: rgb(255, 99, 71);
          margin: 0 5px;
          margin-top: 5px;
        }
      }
  
      & > .mobile-register-btn {
        color: rgb(255, 99, 71);
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        text-decoration: none;
  
        & h3 {
          font-size: 12px;
          margin-bottom: 0;
        }
      }
    }

    }
}
  